:root{
--Green: hsl(75, 94%, 57%);

--White: hsl(0, 0%, 100%);

--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
}
body{
    margin: 0px;
}
.container{
   height: 100vh;
    background-color: var(--Grey-900);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box-main{
    width: 350px;
    background-color: var(--Grey-800);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0px;
}
.imgg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px;
    
}

h4{
    font-weight: 700;
    color: var(--White);
    margin: 0px 0px 5px 0px;
    text-align: center;
}
.first-parag{
    font-weight: 600;
    color: var(--Green);
    margin: 0px;
    font-size: 14px;
}
.second-parag{
    font-weight: 400;
    font-size: 14px;
    color: var(--White);
    margin: 0px;
}
.social-list li a{
    text-decoration: none;
    color: var(--White);
    font-weight: 600;
    font-size: 14px;
}
.social-list li{
    width: 300px;
    height: 50px;
    background-color: var(--Grey-700);
    border-radius: 10px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
.social-list li:hover a{
    color: black;
}
.social-list li:hover{
    background-color: var(--Green);
}
.social-list{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    row-gap: 10px;
    padding: 0%;
}
@media (max-width: 375px){
    
}